* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app,
html {
  min-height: 100vh;
  text-align: center;
  font-family: "Fira_Sans";
  color: #222823;
}

.navbar {
  display: flex;
  background-color: #a2cde1;
  padding: 1rem;
  position: sticky;
  top: 0;
  justify-content: space-between;
  
  box-shadow: 1px 1px 1px 1px;
  border-radius: 6px;
  z-index: 1;
  margin-bottom: 1rem;
  font-style: italic;
}
.nav-header{
  margin: 12px
}
.navlinks {
  display: flex;
  list-style: none;
  align-items: center;
  font-size: 1.25rem;
}
.shop-navlinks{
  margin-right: 0;
}
.home-page {
  min-height: 75vh;
}

.home-header {
  text-align: center;
  font-size: 2.5rem;
  text-decoration: underline;
}

.home-sub-header {
  font-style: italic;
}

.home-description {
  font-size: 22px;
  padding: 2rem 2rem 5rem 2rem;
  margin: 0 5rem 0 5rem;
}

.footer {
  display: flex;
  padding: 1rem;
  position: sticky;
  bottom: 0;
  background-color: #a2cde1;
  justify-content: center;
  box-shadow: 1px 1px 1px 2px;
  border-radius: 6px;
}

.footlinks {
  display: flex;
}

.thumbnail {
  position: relative;
  width: 50%;
  aspect-ratio: 16/9;
  margin: 1rem;
  border: #222823 0.2rem solid;
}

.item-table {
  border-collapse: collapse;
}

.item-table th,
.item-table td {
  border: 1px solid #000;
  padding: 8px;
}

.form-container {
  text-align: center;
  padding: 1rem;
  border-radius: 2rem;
  border: 5px solid red;
  margin: 2rem;
  color: #222823;
  display: grid;
  gap: 2px;
}

.form-container label {
  display: block;
  align-items: center;
}

.form-container label > span {
  margin-right: 10px;
}

.footlink {
  padding: 6px;
  margin: 2px;
}

.slider {
  position: relative;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.figure {
  justify-content: center;
  align-items: center;
}

.figcap {
  text-align: left;
  margin: 0 5rem 2rem 27rem;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 460px;
  height: 500px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  cursor: pointer;
  z-index: 10;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  cursor: pointer;
  z-index: 10;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 15rem;
  padding: 8rem 8rem 8rem 8rem;
  border: 1px solid;
  box-shadow: 1px 1px 2px 2px;
}

.profile {
  display: flexbox;
  min-height: 100vh;
  margin: 0 1rem 0 1rem;
}

.userHeader {
  margin-bottom: 2rem;
  text-align: center;
}


.reviews {
  margin: auto;
  min-width: 68vw;
  min-height: 43vh;
  max-width: 40%;
  border: 2px solid;
}

#submit-review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#submit-review-container label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

#submit-review-container input,
#submit-review-container textarea {
  width: 200px;
}
.userInfo {
  /* display: flex;
  flex-direction: column; */
  float: right;
  list-style: none;
  font-size: 24px;
  padding: 4rem;
  border: 2px solid;
  margin-right: 2rem;
  min-height: 43vh;
}

.itemsULike {
  display: flex;
  flex-direction: column;
  width: 60vw;
  min-height: 43vh;
  border: 2px solid;
}

.likedItems {
  list-style: none;
}

.buy-again {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  border: 2px solid;
  min-height: 30vh;
}

.buy-back {
  list-style: none;
}
.items-shop {
  min-height: 99vh;
  overflow: hidden;
}
.sidebar {
  display: flex;
  justify-content: space-evenly;
  margin-left: 4.5rem;
}

.items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 99vh;
  text-align: center;
  flex-wrap: wrap;
  margin: 1rem 1rem;
}

.item-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem;
  border: 4px solid rgb(181, 59, 14);
  border-radius: 20px;
  margin: 2rem;
  color: #222823;
  max-width: 824px;
  list-style: none;
}

.single-item-card {
  border: 4px solid rgb(181, 59, 14);
  border-radius: 20px;
  margin: 1rem 7rem 1rem 7rem;
  padding: 1rem;
}

.item-card img {
  width: 400px;
  height: 400px;
  object-fit: downsize;
  overflow: auto;
}

.cart {
  min-height: 99vh;
}

.popup-container {
  background-color: #a2cde1;
  outline: solid rgb(0, 0, 0) 2px;
  padding: 5%;
  min-width: 500px;
}

.popup-container form {
  display: flex;
  flex-direction: column;
}

.popup-container label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.popup-container label input,
.popup-container label textarea {
  margin-top: 5px;
}

.reviews {
  min-height: 99vh;
}

.order-history {
  margin: 1rem;
  min-height: 99vh;
}
.order-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding-top: 1rem;
  border: 2px solid;
}
.order-history-list {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  list-style: none;
}
.counter {
  position: relative;
  /* justify-content: center;
  align-items: center; */
  /* top: 2.5rem; */
  /* right: .75rem; */
  left: .75rem;
  width: 20px;
  height: 20px;
  font-size: small;
  border-radius: 50%;
  background: fixed;
  z-index: 2;
  opacity: 0.7;
  background-color: red;
  color: white;
  background-size: contain;
}
.confirmation {
  min-height: 99vh;
}
.security {
  min-height: 99vh;
}
.settings {
  display: flex;
  flex-direction: column;
  min-height: 99vh;
}

.personal-information {
  margin: 8px;
  list-style: none;
  border: 2px solid;
  padding: 1rem;
}
.billing-information {
  margin: 8px;
  list-style: none;
  border: 2px solid;
  padding: 1rem;
}
.payment-information {
  min-height: 99vh;
}
.p-info-buttons {
  padding: 4px;
}
.billing-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 4rem 1rem 4rem;
  padding: 2rem;
  border: 1px solid;
  box-shadow: 1px 1px 2px 2px;
  min-height: 50vh;
}

.quickadd {
  margin: 20px;
}

.addtocart {
  margin: 20px;
}

.submitbutton {
  margin: 20px;
}

.checkout {
  margin: 20px;
}

.remove {
  margin: 20px;
}

#navbar {
  position: sticky;
}
@media (max-width: 930px){
  .userInfo{
    float: none;
    padding: 2rem;
    width: 80vw
  }
  .itemsULike{
    margin-top: 2rem;
    width: 80vw;
  }
  .buy-again{
    margin-top: 2rem;
    width: 80vw;
  }
  .navbar{
    font-size: 24px;
    text-align: center;
  }
  .nav-header{
    text-align: center;
  }
  .navlinks{
    font-size: 16px;
    padding: 0;
    margin: 0;
  }
}
