:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, Poppins, Fira_Sans, Lobster;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color:  #222823;
  background-color: #F4F7F5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
a {
  font-weight: 500;
  color: #1691ca;
  text-decoration: inherit;
}
a:hover {
  color: #1691ca;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.5em 1em;
  margin-right: 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #a2cde1;
  color:  #222823;
  cursor: pointer;
  transition: border-color 0.5s;
}
button:hover {
  border-color: #F4F7F5;
}
button:focus,
button:focus-visible {
  outline: 1px solid  #F4F7F5;
}